<section>
  	<h1>关于本人</h1>
 <p align="center"><img src="http://art.yanping.me/images/avatar.jpg" /></p>


<p>资浅媒体人，堆文字的金融攻城师，不靠谱的经济分析师，IT文艺小青年，舞者中的程序猿。<a href="/blog/about" >更多介绍...</a></p>
<p>声明：所有言论仅代表个人观点，与所在单位无关。</p><p>本人主页为<a href="http://chen.yanping.me" target="_blank">http://yanping.me</a></p>

<p align="center"><a href="http://i.imgur.com/dBONa.jpg" target="_blank" title="The Certificate in Quantitative Finance (CQF) is a six-month part-time course designed for in-depth training for individuals working in, or intending to move into, derivatives, development, quantitative trading or risk management. " alt="Certificate in Quantitative Finance"><img src="/images/blog/cqf.jpg" width="70%" /></a></p>
</section>


