
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>雁起平沙的网络日志</title>
  <meta name="author" content="ypchen">

  
  <meta name="description" content="本文主要讨论如何用R语言从郑州商品交易所网站上获取期货合约交易数据 郑商所网站提供了查询每日行情的页面，它提供的数据比大商所的要复杂一些，2010年至2013年的网页格式一样，地址也是同样的形式，请看 http://www.czce.com.cn/portal/exchange/2010/ &hellip;">
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="canonical" href="http://yanping.me/cn">
  <link href="/cn/favicon.png" rel="icon">
  <link href="/cn/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <script src="/cn/javascripts/modernizr-2.0.js"></script>
  <script src="/cn/javascripts/ender.js"></script>
  <script src="/cn/javascripts/octopress.js" type="text/javascript"></script>
  <link href="/cn/atom.xml" rel="alternate" title="雁起平沙的网络日志" type="application/atom+xml">
  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

<script src="/cn/javascripts/jquery-1.7.1.min.js" type="text/javascript"></script> 

	<!-- mathjax config similar to math.stackexchange -->

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      	inlineMath: [ ['$','$'], ["\\(","\\)"] ],
    	displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>


<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
    });
</script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax(), i;
        for(i=0; i < all.length; i += 1) {
            all[i].SourceElement().parentNode.className += ' has-jax';
        }
    });
</script>








</head>

<body   >
  <header role="banner"><hgroup>
  <h1><a href="/cn/">雁起平沙的网络日志</a></h1>
  
    <h2>数量金融与R</h2>
  
</hgroup>

</header>
  <nav role="navigation"><ul class="subscription" data-subscription="rss">
  <li><a href="/cn/atom.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  
</ul>
<form action="http://google.com/search" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:yanping.me/cn" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
<ul class="main-navigation">
  <li><a href="/cn/">博客主页</a></li>
  <li><a href="/cn/blog/archives">文章列表</a></li>
  <li><a href="/cn/blog/categories">分类目录</a></li>
  <li><a href="/cn/blog/about">关于</a></li>
</ul>

</nav>
  <div id="main">
    <div id="content">
      <div class="blog-index">
  
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/cn/blog/2012/12/09/get-zce-data/">用R获取郑州商品交易所历史数据</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2012-12-09T20:00:00+08:00" pubdate data-updated="true">Dec 9<span>th</span>, 2012</time>
        
         | <a href="/cn/blog/2012/12/09/get-zce-data/#disqus_thread">Comments</a>
        
      </p>
    
  </header>


  <div class="entry-content"><p class="info">本文主要讨论如何用R语言从郑州商品交易所网站上获取期货合约交易数据</p>

<p>郑商所网站提供了查询每日行情的<a href="http://www.czce.com.cn/portal/jysj/mrhq/A091101index_1.htm">页面</a>，它提供的数据比大商所的要复杂一些，2010年至2013年的网页格式一样，地址也是同样的形式，请看</p>

<ul>
  <li><a href="http://www.czce.com.cn/portal/exchange/2010/datadaily/20100105.htm">http://www.czce.com.cn/portal/exchange/2010/datadaily/20100105.htm</a></li>
  <li><a href="http://www.czce.com.cn/portal/exchange/2011/datadaily/20110105.htm">http://www.czce.com.cn/portal/exchange/2011/datadaily/20110105.htm</a></li>
  <li><a href="http://www.czce.com.cn/portal/exchange/2012/datadaily/20120104.htm">http://www.czce.com.cn/portal/exchange/2012/datadaily/20120104.htm</a></li>
  <li><a href="http://www.czce.com.cn/portal/exchange/2013/datadaily/20130104.htm">http://www.czce.com.cn/portal/exchange/2013/datadaily/20130104.htm</a></li>
</ul>

<p>打开网页可以看到，网页提供了“打印”，“Excel”和“txt”三个选项，只要把地址后面的<code>.html</code>改为<code>.txt</code>就可以得到文本格式的数据，那么就可以逐一下载数据文件，读入数据。</p>

<p>这四年的数据可以这样获取：</p>

<div class="bogus-wrapper"><notextile><figure class="code"><figcaption><span /></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class="line-number">1</span>
<span class="line-number">2</span>
<span class="line-number">3</span>
<span class="line-number">4</span>
<span class="line-number">5</span>
<span class="line-number">6</span>
<span class="line-number">7</span>
<span class="line-number">8</span>
<span class="line-number">9</span>
<span class="line-number">10</span>
<span class="line-number">11</span>
<span class="line-number">12</span>
<span class="line-number">13</span>
<span class="line-number">14</span>
<span class="line-number">15</span>
<span class="line-number">16</span>
<span class="line-number">17</span>
<span class="line-number">18</span>
<span class="line-number">19</span>
<span class="line-number">20</span>
<span class="line-number">21</span>
<span class="line-number">22</span>
<span class="line-number">23</span>
<span class="line-number">24</span>
<span class="line-number">25</span>
<span class="line-number">26</span>
<span class="line-number">27</span>
<span class="line-number">28</span>
</pre></td><td class="code"><pre><code class="r"><span class="line">getZceData <span class="o">&lt;-</span> <span class="kr">function</span><span class="p">(</span>dates<span class="p">){</span>
</span><span class="line">  require<span class="p">(</span>RCurl<span class="p">)</span>
</span><span class="line">  zceDatabase <span class="o">&lt;-</span> data.frame<span class="p">()</span>
</span><span class="line">  <span class="kr">for</span> <span class="p">(</span>date in dates<span class="p">)</span> <span class="p">{</span>
</span><span class="line">    str1 <span class="o">&lt;-</span> <span class="s">&quot;http://www.czce.com.cn/portal/exchange/&quot;</span>
</span><span class="line">    str2 <span class="o">&lt;-</span> <span class="s">&quot;/datadaily/&quot;</span>
</span><span class="line">    date <span class="o">&lt;-</span> as.character<span class="p">(</span>date<span class="p">)</span>
</span><span class="line">    year <span class="o">&lt;-</span> substr<span class="p">(</span>date<span class="p">,</span> <span class="m">1</span><span class="p">,</span> <span class="m">4</span><span class="p">)</span>
</span><span class="line">    url <span class="o">&lt;-</span> paste<span class="p">(</span>str1<span class="p">,</span> year<span class="p">,</span> str2<span class="p">,</span> date<span class="p">,</span> <span class="s">&quot;.txt&quot;</span><span class="p">,</span> sep <span class="o">=</span> <span class="s">&quot;&quot;</span><span class="p">)</span>
</span><span class="line">    <span class="kr">if</span> <span class="p">(</span>!url.exists<span class="p">(</span>url<span class="p">))</span> <span class="p">{</span>
</span><span class="line">      next
</span><span class="line">    <span class="p">}</span> <span class="kr">else</span> <span class="p">{</span>
</span><span class="line">      colnames <span class="o">&lt;-</span> c<span class="p">(</span><span class="s">&quot;品种月份&quot;</span><span class="p">,</span> <span class="s">&quot;昨结箿&quot;</span><span class="p">,</span> <span class="s">&quot;今开盘&quot;</span><span class="p">,</span> <span class="s">&quot;最高价&quot;</span><span class="p">,</span> <span class="s">&quot;最低价&quot;</span><span class="p">,</span>
</span><span class="line">        <span class="s">&quot;今收盘&quot;</span><span class="p">,</span> <span class="s">&quot;今结算&quot;</span><span class="p">,</span> <span class="s">&quot;涨跌1&quot;</span><span class="p">,</span> <span class="s">&quot;涨跌2&quot;</span><span class="p">,</span> <span class="s">&quot;成交量&quot;</span><span class="p">,</span> <span class="s">&quot;空盘量&quot;</span><span class="p">,</span>
</span><span class="line">        <span class="s">&quot;增减量&quot;</span><span class="p">,</span> <span class="s">&quot;成交额&quot;</span><span class="p">,</span> <span class="s">&quot;交割结算价&quot;</span><span class="p">)</span>
</span><span class="line">      fileName <span class="o">&lt;-</span> paste<span class="p">(</span><span class="s">&quot;zce&quot;</span><span class="p">,</span> date<span class="p">,</span> <span class="s">&quot;.txt&quot;</span><span class="p">,</span> sep <span class="o">=</span> <span class="s">&quot;&quot;</span><span class="p">)</span>
</span><span class="line">
</span><span class="line">      <span class="kr">if</span> <span class="p">(</span>!file.exists<span class="p">(</span>fileName<span class="p">))</span> <span class="p">{</span>
</span><span class="line">        download.file<span class="p">(</span>url<span class="p">,</span> fileName<span class="p">,</span> quiet <span class="o">=</span> <span class="k-Variable">T</span><span class="p">)</span>
</span><span class="line">      <span class="p">}</span>
</span><span class="line">      zceData <span class="o">&lt;-</span> read.table<span class="p">(</span>fileName<span class="p">,</span> header <span class="o">=</span> <span class="k-Variable">F</span><span class="p">,</span> skip <span class="o">=</span> <span class="m">1</span><span class="p">,</span> sep <span class="o">=</span> <span class="s">&quot;,&quot;</span><span class="p">,</span> col.names <span class="o">=</span> colnames<span class="p">)</span>
</span><span class="line">      zceData <span class="o">&lt;-</span> zceData<span class="p">[(</span>zceData<span class="p">[,</span> <span class="m">1</span><span class="p">]</span> <span class="o">!=</span> <span class="s">&quot;小计&quot;</span><span class="p">)</span> <span class="o">&amp;</span> <span class="p">(</span>zceData<span class="p">[,</span> <span class="m">1</span><span class="p">]</span> <span class="o">!=</span> <span class="s">&quot;总计&quot;</span><span class="p">),</span> <span class="p">]</span>
</span><span class="line">      zceData<span class="p">$</span>date <span class="o">&lt;-</span> date
</span><span class="line">      zceDatabase <span class="o">&lt;-</span> rbind<span class="p">(</span>zceDatabase<span class="p">,</span> zceData<span class="p">)</span>
</span><span class="line">    <span class="p">}</span>
</span><span class="line">  <span class="p">}</span>
</span><span class="line">  <span class="kr">return</span><span class="p">(</span>zceDatabase<span class="p">)</span>
</span><span class="line"><span class="p">}</span>
</span></code></pre></td></tr></table></div></figure></notextile></div>

<p>但是查询2009年及之前的数据返回的是网页形式，那就需要从网页上读取。</p>

<p>看下面几个链接</p>

<ul>
  <li><a href="http://www.czce.com.cn/portal/exchange/jyxx/hq/hq20060106.html">http://www.czce.com.cn/portal/exchange/jyxx/hq/hq20060106.html</a></li>
  <li><a href="http://www.czce.com.cn/portal/exchange/jyxx/hq/hq20070104.html">http://www.czce.com.cn/portal/exchange/jyxx/hq/hq20070104.html</a></li>
  <li><a href="http://www.czce.com.cn/portal/exchange/jyxx/hq/hq20080104.html">http://www.czce.com.cn/portal/exchange/jyxx/hq/hq20080104.html</a></li>
  <li><a href="http://www.czce.com.cn/portal/exchange/jyxx/hq/hq20090105.html">http://www.czce.com.cn/portal/exchange/jyxx/hq/hq20090105.html</a></li>
</ul>

<p>网页格式很统一，数据在被table标签包裹，并且是在第二个table标签中，XML包的<code>readHTMLTable</code>函数可以读取table标签中的内容，但是当网页中有汉字的时候，汉字会变成乱码，慎用！</p>

<p>不过，本文的情况有点特殊，汉字只出现在table的第一行表头，以及“小计”、“总计”的行，这些行本来就是要去掉的，所以对我们没影响。</p>

<p>下面只给出关键代码：</p>

<div class="bogus-wrapper"><notextile><figure class="code"><figcaption><span /></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class="line-number">1</span>
<span class="line-number">2</span>
<span class="line-number">3</span>
<span class="line-number">4</span>
<span class="line-number">5</span>
<span class="line-number">6</span>
</pre></td><td class="code"><pre><code class="r"><span class="line">require<span class="p">(</span>XML<span class="p">)</span>
</span><span class="line">require<span class="p">(</span>stringr<span class="p">)</span>
</span><span class="line">url <span class="o">&lt;-</span> <span class="s">&quot;http://www.czce.com.cn/portal/exchange/jyxx/hq/hq20060106.html&quot;</span>
</span><span class="line">tb <span class="o">&lt;-</span>readHTMLTable<span class="p">(</span>url<span class="p">)[[</span><span class="m">2</span><span class="p">]]</span>
</span><span class="line">tb <span class="o">&lt;-</span> sapply<span class="p">(</span>tb<span class="p">,</span>str_trim<span class="p">)</span>
</span><span class="line">df <span class="o">&lt;-</span>as.data.frame<span class="p">(</span>apply<span class="p">(</span>tb<span class="p">,</span><span class="m">2</span><span class="p">,</span><span class="kr">function</span><span class="p">(</span>x<span class="p">)</span> iconv<span class="p">(</span>x<span class="p">,</span> from <span class="o">=</span> <span class="s">&quot;gb2312&quot;</span><span class="p">,</span> to <span class="o">=</span> <span class="s">&quot;UTF-8&quot;</span><span class="p">)))</span>
</span></code></pre></td></tr></table></div></figure></notextile></div>

<p>再把第一列为NA的行去除就行了。</p>

</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/cn/blog/2012/12/09/get-dce-data/">用R获取大连商品交易所历史数据</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2012-12-09T20:00:00+08:00" pubdate data-updated="true">Dec 9<span>th</span>, 2012</time>
        
         | <a href="/cn/blog/2012/12/09/get-dce-data/#disqus_thread">Comments</a>
        
      </p>
    
  </header>


  <div class="entry-content"><p class="info">本文主要讨论如何用R语言从大连商品交易所网站上获取期货合约交易数据</p>

<p>大商所的网站上有提供查询历史的<a href="http://www.dce.com.cn/portal/cate?cid=1261730308135">页面</a>。但是它只能对某一个品种查询某一天的报价，或者某一天所有品种的报价，如果我想批量获取交易数据，应该怎么做呢？</p>

<p>首先剖析一下这个页面，用firefox的firebug查看日行情表的代码</p>

<p><img src="http://i.imgur.com/PFZ4f1k.png" alt="日行情表" /></p>

<p>可以看到，这个表实际上是用iframe实现的，查看页面的源文件可以查出这个iframe引用页面地址为<a href="http://www.dce.com.cn/PublicWeb/MainServlet?action=Data_service">http://www.dce.com.cn/PublicWeb/MainServlet?action=Data_service</a>。用上面的方法继续剖析这个页面，发现它引用了<a href="http://www.dce.com.cn/PublicWeb/MainServlet?action=Pu00011_search">http://www.dce.com.cn/PublicWeb/MainServlet?action=Pu00011_search</a>。</p>

</div>
  
  
    <footer>
      <a rel="full-article" href="/cn/blog/2012/12/09/get-dce-data/">阅读全文 &rarr;</a>
    </footer>
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/cn/blog/2012/10/10/asynchronous-loading-post-list-with-jekyll-and-jQuery/">用jekyll和jQuery实现异步加载文章列表</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2012-10-10T23:30:00+08:00" pubdate data-updated="true">Oct 10<span>th</span>, 2012</time>
        
         | <a href="/cn/blog/2012/10/10/asynchronous-loading-post-list-with-jekyll-and-jQuery/#disqus_thread">Comments</a>
        
      </p>
    
  </header>


  <div class="entry-content"><p class="info">本文主要讨论如何用基于jQuery的插件waypoint，实现异步加载jekyll模板生成的json文件，生成文章列表。</p>

<p>我在<a href="http://art.yanping.me/archives/">另一个博客的文章列表</a>里使用了异步加载的技术，不过直接看页面的html源代码是看不出来的。编译之前的代码在<a href="https://github.com/yanping/art/blob/gh-pages/archives/index.html">这里</a>。</p>

<p>首先，生成文章列表数据的json模板是：</p>

<div class="bogus-wrapper"><notextile><figure class="code"><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class="line-number">1</span>
<span class="line-number">2</span>
<span class="line-number">3</span>
<span class="line-number">4</span>
<span class="line-number">5</span>
<span class="line-number">6</span>
<span class="line-number">7</span>
<span class="line-number">8</span>
<span class="line-number">9</span>
<span class="line-number">10</span>
<span class="line-number">11</span>
<span class="line-number">12</span>
<span class="line-number">13</span>
</pre></td><td class="code"><pre><code class=""><span class="line">---
</span><span class="line">layout: nil
</span><span class="line">---
</span><span class="line">
</span><span class="line">[
</span><span class="line">{% for post in site.posts %}
</span><span class="line">  {"title":"{{post.title}}", 
</span><span class="line">  "url":"{{site.url}}{{post.url}}", 
</span><span class="line">  "date":"{{ post.date | date:'%Y-%m-%d' }}", 
</span><span class="line">  "tags":[{% for tag in post.tags %}"{{tag}}"{% if forloop.last == false %} ,{% endif %}{% endfor %}]}
</span><span class="line">  {% if forloop.last == false %},{% endif %}{% endfor %}
</span><span class="line">]
</span><span class="line">
</span></code></pre></td></tr></table></div></figure></notextile></div>

<p>这在前面的<a href="http://chen.yanping.me/cn/blog/2012/04/19/jekyll-with-json/">文章</a>里提到过。</p>

<p>头部YAML数据部分：</p>

<div class="bogus-wrapper"><notextile><figure class="code"><figcaption><span /></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class="line-number">1</span>
<span class="line-number">2</span>
<span class="line-number">3</span>
<span class="line-number">4</span>
<span class="line-number">5</span>
<span class="line-number">6</span>
</pre></td><td class="code"><pre><code class="yaml"><span class="line"><span class="nn">---</span>
</span><span class="line"><span class="l-Scalar-Plain">layout</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">default</span>
</span><span class="line"><span class="l-Scalar-Plain">title</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">全部文章</span>
</span><span class="line"><span class="l-Scalar-Plain">initItem</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">50</span>
</span><span class="line"><span class="l-Scalar-Plain">perPageItem</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">100</span>
</span><span class="line"><span class="nn">---</span>
</span></code></pre></td></tr></table></div></figure></notextile></div>

<p><code>initItem</code>是初始加载时显示的文章主题数，<code>perPageItem</code>是每次页面下拉到底部时读取json数据并新生成的文章主题数。</p>

<p>初始加载网页时，文章主题列表是静态的html，由jekyll生成：</p>

<div class="bogus-wrapper"><notextile><figure class="code"><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class="line-number">1</span>
<span class="line-number">2</span>
<span class="line-number">3</span>
<span class="line-number">4</span>
<span class="line-number">5</span>
<span class="line-number">6</span>
<span class="line-number">7</span>
</pre></td><td class="code"><pre><code class=""><span class="line">&lt;ul class="posts"&gt;
</span><span class="line">{% for post in site.posts limit:page.initItem %}
</span><span class="line">  &lt;li class="listing-item"&gt;
</span><span class="line">    &lt;time datetime="{{ post.date | date:"%Y-%m-%d" }}"&gt;{{ post.date | date:"%Y-%m-%d" }}&lt;/time&gt;
</span><span class="line">    &lt;a href="{{site.baseurl}}{{ post.url }}" title="{{ post.title }}"&gt;{{ post.title }}&lt;/a&gt;
</span><span class="line">  &lt;/li&gt;{% endfor %}
</span><span class="line">&lt;/ul&gt;</span></code></pre></td></tr></table></div></figure></notextile></div>

<p>上面的<code>limit:page.initItem</code>限定了列表的项数不超过<code>initItem</code>。当向下拉页面，waypoint会捕捉到页面下拉到底部的事件，并调用<em>getJSON</em>方法来读取json数据，形成文章列表。</p>

</div>
  
  
    <footer>
      <a rel="full-article" href="/cn/blog/2012/10/10/asynchronous-loading-post-list-with-jekyll-and-jQuery/">阅读全文 &rarr;</a>
    </footer>
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/cn/blog/2012/10/09/chinese-charset-problems-with-jekyll/">在Windows下使用jekyll如何避免出现中文字符集错误</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2012-10-09T21:30:00+08:00" pubdate data-updated="true">Oct 9<span>th</span>, 2012</time>
        
         | <a href="/cn/blog/2012/10/09/chinese-charset-problems-with-jekyll/#disqus_thread">Comments</a>
        
      </p>
    
  </header>


  <div class="entry-content"><p class="info">在windows下使用jekyll时经常会遇到字符集错误，比如遇到提示<span style="font-family: Menlo,Monaco,'Andale Mono','lucida console','Courier New',monospace;">Liquid error: incompatible character encodings: UTF-8 and GBK</span>。本文将介绍几种解决方案。</p>

<p>1. <strong>修改bash的字符集：</strong>在<code>C:\Documents and Settings\用户名</code>下，找到文件<code>.bash_profile</code>，后面加两行</p>

<div class="bogus-wrapper"><notextile><figure class="code"><figcaption><span /></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class="line-number">1</span>
<span class="line-number">2</span>
</pre></td><td class="code"><pre><code class="sh"><span class="line"><span class="nb">set </span><span class="nv">LC_ALL</span><span class="o">=</span>en_US.UTF-8
</span><span class="line"><span class="nb">set </span><span class="nv">LANG</span><span class="o">=</span>en_US.UTF-8
</span></code></pre></td></tr></table></div></figure></notextile></div>

</div>
  
  
    <footer>
      <a rel="full-article" href="/cn/blog/2012/10/09/chinese-charset-problems-with-jekyll/">阅读全文 &rarr;</a>
    </footer>
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/cn/blog/2012/06/10/palisade-training-course/">DecisionTools培训课程大纲</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2012-06-10T15:00:00+08:00" pubdate data-updated="true">Jun 10<span>th</span>, 2012</time>
        
         | <a href="/cn/blog/2012/06/10/palisade-training-course/#disqus_thread">Comments</a>
        
      </p>
    
  </header>


  <div class="entry-content"><p class="info">本人近期将推出《DecisionTools高级应用：数量风险建模与决策分析》课程，有需要培训的团体或个人与我联系。</p>

<h2 id="section">课程目标</h2>
<p>DecisionTools是一套在Microsoft Excel量身定制集成程序，从而使用户可以在一个软件包中针对不确定因素完成风险优化及决策分析的操作。DecisionTools Suite包括使用蒙特卡罗模拟执行风险分析的@RISK、执行决策分析的PrecisionTree和执行灵敏度分析的TopRank。此外，软件还包括执行预测、数据分析和最优化的 StatTools、NeuralTools和Evolver。</p>

<p>本课程适用于从事风险建模、数据分析工作的人员。本课程使用项目成本评估、折现现金流模型等常规案例来讲解蒙特卡罗模拟的思想和软件操作技巧。学员将在课程中学习如何在Excel环境中建立风险评估模型和不确定性条件下的决策模型。</p>

<p>除了@RISK以外，本课程也会介绍DecisionTools套件的其他组件， 这些组件可以完善和补充@RISK的模拟功能。主要涉及的主题包括：</p>

<ul>
  <li>使用PrecisionTree做序列决策建模以及敏感性分析；</li>
  <li>结合@RISK和PrecisionTree；</li>
  <li>使用RISKOptimizer做不确定性优化; </li>
  <li>使用TopRank做敏感性分析；</li>
  <li>使用StatTools和NeuralTools做统计分析和预测</li>
</ul>

<h2 id="section-1">课程大纲</h2>

<p><strong>第一部分: @RISK和TopRank</strong></p>

<ul>
  <li>概率论、统计学和蒙特卡洛模拟的基础知识</li>
  <li>@RISK的界面介绍</li>
  <li>在确定性模型中加入不确定性</li>
  <li>在风险模型中结合专家意见</li>
  <li>用TopRank做敏感性分析和情景分析</li>
  <li>模拟和模拟设置</li>
  <li>输出与结果分析</li>
  <li>在Excel中报告模拟结果</li>
</ul>

<p><strong>第二部分: @RISK, PrecisionTree, Evolver, RISKOptimizer, StatTools和 NeuralTools</strong></p>

<ul>
  <li>使用离散分布</li>
  <li>建模逻辑</li>
  <li>选择适合的分布</li>
  <li>拟合数据的分布</li>
  <li>使用 @RISK做决策分析</li>
  <li>使用PrecisionTree做决策分析</li>
  <li>使用Evolver和RISKOptimizer做最优化决策</li>
  <li>相关性建模</li>
  <li>使用StatTools和NeuralTools做数据分析</li>
</ul>

<p><strong>第三部分: 案例教学</strong></p>

<p>案例范围有：</p>

<ul>
  <li>公司财务规划</li>
  <li>项目管理</li>
  <li>股票价格与期权定价</li>
  <li>管理利率风险</li>
  <li>期货对冲</li>
  <li>存货与排队论</li>
</ul>

</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/cn/blog/2012/06/07/new-target/">下一步学习的目标</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2012-06-07T23:58:00+08:00" pubdate data-updated="true">Jun 7<span>th</span>, 2012</time>
        
         | <a href="/cn/blog/2012/06/07/new-target/#disqus_thread">Comments</a>
        
      </p>
    
  </header>


  <div class="entry-content"><p>不给自己定太遥远的目标了，为了把R语言捡起来，为了把数量金融方面捡起来，我决定以 <em>Using SAS in Financial Research</em> 为蓝本，用R语言来实现每章的案例，来个 <em>Using R in Financial Research</em> 。涉及的案例有：</p>

<ul>
  <li>资产价格的随机游走理论：方差比率检验</li>
  <li>谁是赢家谁是输家：使用R来检验过度反应假设</li>
  <li>资本资产定价模型的实证检验：使用横截面方法</li>
  <li>事件研究</li>
  <li>价格-盈利关系的分析：关联类型研究方法</li>
  <li>使用财务压力特征模型来预测破产</li>
  <li>使用会计信息来预测市场绩效</li>
  <li>交易数据的分析</li>
</ul>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/cn/blog/2012/04/20/jekyll-with-js-and-json/">用jekyll生成包含json变量的js脚本</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2012-04-20T23:58:00+08:00" pubdate data-updated="true">Apr 20<span>th</span>, 2012</time>
        
         | <a href="/cn/blog/2012/04/20/jekyll-with-js-and-json/#disqus_thread">Comments</a>
        
      </p>
    
  </header>


  <div class="entry-content"><p class="info">本文主要讨论如何用jekyll模板生成含有json数据的javascript脚本，并以此解决跨域读取json数据的问题。</p>

<p><a href="http://yanping.me/cn/blog/2012/04/19/jekyll-with-json/">前一篇文章</a>提到用getJSON读取json文件，并以此动态更新页面，但只能读取同域的json文件，据说是出于安全性的考虑。</p>

<p>现在问题出来了，我除了前文提到的三个网站以外，还有个<a href="http://inwake.com/ypchen">主页的镜像网站</a>，它存放在美国的一位师兄的服务器上，和那三个网站肯定不同域，如果我要让它和github上的<a href="http://yanping.me">主页</a>始终保持一致，又不想每次手动修改博客文章列表，也不能再使用feedsky了。因为feedsky除了慢之外，生成的列表样式也和网站风格不一致。</p>

</div>
  
  
    <footer>
      <a rel="full-article" href="/cn/blog/2012/04/20/jekyll-with-js-and-json/">阅读全文 &rarr;</a>
    </footer>
  


    </article>
  
  <div class="pagination">
    
      <a class="prev" href="/cn/blog/page/2/">&larr; 前一页</a>
    
    <a href="/cn/blog/archives">文章列表</a>
    
  </div>
</div>
<aside class="sidebar">
  
    <section>
  	<h1>关于本人</h1>
 <p align="center"><img src="http://art.yanping.me/images/avatar.jpg" /></p>


<p>资浅媒体人，堆文字的金融攻城师，不靠谱的经济分析师，IT文艺小青年，舞者中的程序猿。<a href="/cn/blog/about" >更多介绍...</a></p>
<p>声明：所有言论仅代表个人观点，与所在单位无关。</p><p>本人主页为<a href="http://chen.yanping.me" target="_blank">http://yanping.me</a></p>

<p align="center"><a href="http://i.imgur.com/dBONa.jpg" target="_blank" title="The Certificate in Quantitative Finance (CQF) is a six-month part-time course designed for in-depth training for individuals working in, or intending to move into, derivatives, development, quantitative trading or risk management. " alt="Certificate in Quantitative Finance"><img src="/cn/images/blog/cqf.jpg" width="70%" /></a></p>
</section>



<section id="categories_tag">
<h1>分类目录</h1>
<span class='categories_tag'> <a href='/cn/blog/categories/github' style='font-size: 146.66666666666666%'>Github(7)</a>  <a href='/cn/blog/categories/javascript' style='font-size: 126.66666666666667%'>Javascript(4)</a>  <a href='/cn/blog/categories/jekyll' style='font-size: 160.0%'>Jekyll(9)</a>  <a href='/cn/blog/categories/latex' style='font-size: 106.66666666666667%'>Latex(1)</a>  <a href='/cn/blog/categories/markdown' style='font-size: 106.66666666666667%'>Markdown(1)</a>  <a href='/cn/blog/categories/octopress' style='font-size: 153.33333333333334%'>Octopress(8)</a>  <a href='/cn/blog/categories/r语言' style='font-size: 146.66666666666666%'>R语言(7)</a>  <a href='/cn/blog/categories/指数' style='font-size: 106.66666666666667%'>指数(1)</a>  <a href='/cn/blog/categories/金融工程' style='font-size: 120.0%'>金融工程(3)</a> </span>
</section>

<section>
  <h1>近期文章</h1>
  <ul id="recent_posts">
    
      <li class="post">
        <a href="/cn/blog/2012/12/09/get-zce-data/" title="用R获取郑州商品交易所历史数据">用R获取郑州商品交易所历史数据</a>
      </li>
    
      <li class="post">
        <a href="/cn/blog/2012/12/09/get-dce-data/" title="用R获取大连商品交易所历史数据">用R获取大连商品交易所历史数据</a>
      </li>
    
      <li class="post">
        <a href="/cn/blog/2012/10/10/asynchronous-loading-post-list-with-jekyll-and-jQuery/" title="用jekyll和jQuery实现异步加载文章列表">用jekyll和jQuery实现异步加载文章列表</a>
      </li>
    
      <li class="post">
        <a href="/cn/blog/2012/10/09/chinese-charset-problems-with-jekyll/" title="在Windows下使用jekyll如何避免出现中文字符集错误">在Windows下使用jekyll如何避免出现中文字符集错误</a>
      </li>
    
      <li class="post">
        <a href="/cn/blog/2012/06/10/palisade-training-course/" title="DecisionTools培训课程大纲">DecisionTools培训课程大纲</a>
      </li>
    
      <li class="post">
        <a href="/cn/blog/2012/06/07/new-target/" title="下一步学习的目标">下一步学习的目标</a>
      </li>
    
      <li class="post">
        <a href="/cn/blog/2012/04/20/jekyll-with-js-and-json/" title="用jekyll生成包含json变量的js脚本">用jekyll生成包含json变量的js脚本</a>
      </li>
    
  </ul>
</section>
<section id="comment_sidebar">
<h1>近期评论</h1>

<script type="text/javascript" src="http://ypchencn.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=32&excerpt_length=20"></script><a href="http://disqus.com/">Powered by Disqus</a>

</section>
<section id="blogroll">
<h1>友情链接</h1>
<ul  style="padding-left:0">
	<li><a target="_blank" href="http://loyhome.com">丽云</a></li>
	<li><a target="_blank" href="http://bjt.name">刘思喆</a></li>
	<li><a target="_blank" href="http://jliblog.com">李舰</a></li>
	<li><a target="_blank" href="http://tracy.cos.name/cn">熊熹师姐</a></li>
	<li><a target="_blank" href="http://fan.cos.name">范建宁</a></li>
	<li><a target="_blank" href="http://yihui.name/cn">谢益辉</a></li>
	<li><a target="_blank" href="http://yishuo.org">邓一硕</a></li>
	<li><a target="_blank" href="http://yixuan.cos.name/cn">邱怡轩</a></li>
	<li><a target="_blank" href="http://taiyun.cos.name">魏太云</a></li>
</ul>
</section>

<section>
<iframe width="100%" height="110" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=110&fansRow=2&ptype=1&speed=300&skin=2&isTitle=1&noborder=1&isWeibo=0&isFans=0&uid=1780626537&verifier=d1d5f291&dpc=1"></iframe>
</section>





<section id="copyleft">
<h1>版权协议</h1>
	
	<p align="center"> <a target="_ blank" href="http://creativecommons.org/licenses/by-nc-sa/2.5/cn/"><img src="http://i.creativecommons.org/l/by-nc-sa/2.5/cn/88x31.png" alt="Creative Commons License"/></a></p>
	<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/cn/">CC2.5: 知识共享署名-非商业性使用</a>
</section>
<section>
<h1>Feed订阅</h1>
<div style="text-align: center;">
<!-- Feedsky FEED发布代码开始 -->
<!-- FEED自动发现标记开始 -->
<link target="_blank" rel="alternate" href="http://feed.yanping.me" type="application/rss+xml" title="RSS 2.0"/>
<!-- FEED自动发现标记结束 -->
<a target="_blank" href="http://feed.yanping.me"><img vspace="2" border="0" style="margin-bottom: 3px;" alt="feedsky" src="http://yanping.me/images/feed-icon.gif"/></a><br/>
</div>
<div style="text-align: center;">
<a target="_blank" href="http://www.zhuaxia.com/add_channel.php?url=http://feed.yanping.me"><img vspace="2" border="0" style="margin-bottom: 3px;" alt="抓虾" src="http://yanping.me/images/icon_zhuaxia.gif"/></a><a target="_blank" href="http://www.xianguo.com/subscribe.php?url=http://feed.yanping.me"><img vspace="2" border="0" style="margin-bottom: 3px;" alt="鲜果" src="http://yanping.me/images/icon_xianguo.gif"/></a><br/>
<a target="_blank" href="http://fusion.google.com/add?feedurl=http://feed.yanping.me"><img vspace="2" border="0" style="margin-bottom: 3px;" alt="google reader" src="http://yanping.me/images/icon_google.gif"/></a><a target="_blank" href="http://mail.qq.com/cgi-bin/feed?u=http://feed.yanping.me"><img vspace="2" border="0" style="margin-bottom: 3px;" alt="QQ邮箱" src="http://yanping.me/images/icon_qq.gif"/></a><br/>
</div>
</section>

  
</aside>

    </div>
  </div>
  <footer role="contentinfo">
<p>
  Copyright &copy; 2013 - ypchen -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>



</footer>
  

<script type="text/javascript">
      var disqus_shortname = 'ypchencn';
      
        
        var disqus_script = 'count.js';
      
    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>











  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27377274-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>





	<script type="text/javascript">var jiathis_config = {data_track_clickback:true};</script>
	<script type="text/javascript" src="http://v2.jiathis.com/code/jia.js?uid=1558027" charset="utf-8"></script>




<script type="text/javascript"
   src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>




<script type="text/javascript">
    
        $(document).ready(function(){             

            $('.entry-content a').each(function(index,element){
                var href = $(this).attr('href');
                if(href.indexOf('#') == 0){
                }else if ( href.indexOf('/') == 0 || href.toLowerCase().indexOf('yanping.me')>-1 ){
                }else{
                    $(this).attr('target','_blank');
                    $(this).addClass('external');
                }
            });
           
        });	

</script>






</body>
</html>
