<script type="text/javascript">
    
        $(document).ready(function(){             

            $('.entry-content a').each(function(index,element){
                var href = $(this).attr('href');
                if(href.indexOf('#') == 0){
                }else if ( href.indexOf('/') == 0 || href.toLowerCase().indexOf('yanping.me')>-1 ){
                }else{
                    $(this).attr('target','_blank');
                    $(this).addClass('external');
                }
            });
           
        });	

</script>
