// Here you can easily change font faces which are used in your site.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works. your sites's.
// If you love to use Web Fonts, you also need to add some lines to source/_includes/custom/head.html

$sans: Palatino, "Palatino Linotype", Georgia， "Hiragino Sans GB", "文泉驿微米黑", "Microsoft YaHei","SimSun", sans-serif;
$serif: "Baskerville", "文泉驿微米黑", serif;
//$mono:"PT mono", "Courier", "文泉驿微米黑", "Microsoft YaHei", monospace;
$heading-font-family: "Verdana", 楷体_GB2312, sans-serif;
$header-title-font-family: "Futura", sans-serif;
